.error {
  margin-top: 100px;
  text-align: center;
  color: rgb(238, 188, 29);

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 3rem;
  }

  .backArrow {
    position: absolute;
    top: 1.5%;
    left: 2%;
    padding: 12px 15px;
    border: none;
    border-radius: 50%;
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: rgb(238, 188, 29);

    &:hover {
      transform: translateX(-10%);
      transition: transform 0.3s ease;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}
