.togglerWrapper {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;

  &__switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin: 0 0.75rem;

    & input[type="checkbox"] {
      display: none;

      &:checked + .switch {
        background-color: #2bc6ff;

        &::before {
          transform: translateX(25px);
          background-color: #333;
        }
      }

      &:not(:checked) + .switch {
        &::before {
          background-color: white;
        }
      }
    }

    & .switch {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 25px;
      cursor: pointer;
      background-color: #b6b6b6;
      transition: background-color 0.2s ease;

      &::before {
        position: absolute;
        left: 2px;
        top: 2px;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        content: "";
        transition: transform 0.3s ease;
      }
    }
  }
}

.icon {
  width: 30px;
  height: 30px;
}
