.topCrypto {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;

  &.darkThemeColors {
    color: white;

    &:hover {
      background-color: rgba(94, 94, 94, 0.5);
    }
  }

  &.lightThemeColors {
    color: black;

    &:hover {
      background-color: rgb(238, 188, 29);
    }
  }

  img {
    width: 100px;
    height: 100px;
  }

  h3 {
    font-size: 1rem;

    span {
      padding: 0 10px;
      font-size: 0.85rem;
      font-weight: normal;
    }
  }

  &__greenText {
    color: green;
  }

  &__redText {
    color: red;
  }

  &__price {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
  }
}
